<template>
  <div>
    <BrochureNavBar />
  </div>
</template>

<script>
import BrochureNavBar from '../nav/BrochureNavBar';

export default {
  name: 'brochure-header',
  components: {
    BrochureNavBar
  }
};
</script>

