<template>
  <div>
    <BrochureHeader />
    <router-view />
    <BrochureFooter />
  </div>
</template>

<script>
import BrochureHeader from './BrochureHeader';
import BrochureFooter from './BrochureFooter';

export default {
  name: 'brochure-home',
  components: {
    BrochureHeader,
    BrochureFooter
  }
};
</script>

