<template>
  <div>
    <div v-if="isLoggedOn">
      <AppHeader />
      <router-view />
      <AppFooter />
    </div>
    <div v-else>
      <Logon />
    </div>
  </div>
</template>

<script>
import AppHeader from './AppHeader';
import AppFooter from './AppFooter';
import Logon from '../../pages/Logon';

export default {
  name: 'app-layout',
  data() {
    return {
      isLoggedOn: true
    };
  },
  components: {
    AppHeader,
    AppFooter,
    Logon
  }
};
</script>
