<template>
  <div>
    <h1>Care Givers Page</h1>
    <table>
      <tr v-for="careGivers in allCareGivers" :key="careGivers.id">
        <td>{{ careGivers.first_name }}</td>
        <td>{{ careGivers.last_name }}</td>
      </tr>
    </table>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import AppConstants from '../lib/AppConstants';

export default {
  name: 'caregivers',
  methods: mapActions(AppConstants.NS_APP_CARE_GIVER, ['fetchCareGivers']),
  created() {
    this.fetchCareGivers();
  },
  computed: mapGetters(AppConstants.NS_APP_CARE_GIVER, ['allCareGivers'])
};
</script>
